[submodule "Lib/3rdParty/freetype-gl"]
	path = Lib/3rdParty/freetype-gl
	url = git@github.com:jstreibel/freetype-gl.git
[submodule "Lib/3rdParty/imgui"]
	path = Lib/3rdParty/imgui
	url = git@github.com:jstreibel/imgui.git
[submodule "Lib/3rdParty/NanoTeX"]
	path = Lib/3rdParty/NanoTeX
	url = git@github.com:jstreibel/NanoTeX
[submodule "Lib/3rdParty/imgui-node-editor"]
	path = Lib/3rdParty/imgui-node-editor
	url = https://github.com/jstreibel/imgui-node-editor
[submodule "Notebooks"]
	path = Notebooks
	url = https://github.com/jstreibel/Notebooks
