[submodule "molecular-dynamics"]
	path = MolecularDynamics
	url = git@bitbucket.org:jstreibel/molecular-dynamics.git
[submodule "core-fields"]
	path = CoreFields
	url = git@bitbucket.org:jstreibel/core-fields.git
[submodule "fields-tools"]
	path = FieldsTools
	url = git@bitbucket.org:jstreibel/fields-tools.git
[submodule "ising"]
	path = Ising
	url = git@bitbucket.org:jstreibel/ising.git
[submodule "StudiesOpenGL"]
	path = StudiesOpenGL
	url = git@bitbucket.org:jstreibel/openglstudies.git
[submodule "lib-studios"]
	path = lib-studios
	url = git@bitbucket.org:jstreibel/lib-studios.git
[submodule "GlumpyStudios"]
	path = GlumpyStudios
	url = git@bitbucket.org:jstreibel/glumpystudios.git
[submodule "pylib"]
	path = pylib
	url = git@bitbucket.org:jstreibel/pylib.git
