# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Docs
Lib/Docs/*

BUILD
venv
Build/bin
Build/lib
Lib/Docs/

cmake-build-debug
cmake-build-release
cmake-build-*

*__pycache__*

*~

/Notebooks/.Entidades.autosave.xopp
/Notebooks/.Ultrasimple-dispenser.autosave.xopp
/Notebooks/2021-11-04-Template-21-56.xopt
/Notebooks/.ipynb_checkpoints/Untitled-checkpoint.ipynb

,idea
.idea/*

/Slab/bin/Fields-RtoR
/Slab/bin/Fields-RtoR-PeriodicBC

/Studios/Fields/PyFields2D/.idea/.gitignore
/Studios/Fields/PyFields2D/.idea/codeStyles/codeStyleConfig.xml
/Studios/Fields/PyFields2D/.idea/misc.xml
/Studios/Fields/PyFields2D/.idea/modules.xml
/Studios/Fields/PyFields2D/.idea/inspectionProfiles/profiles_settings.xml
/Studios/Fields/PyFields2D/.idea/inspectionProfiles/Project_Default.xml
/Studios/Fields/PyFields2D/.idea/vcs.xml

/Lib/3rdParty/freetype-gl/*
/Lib/3rdParty/imgui/*

/Lib/Python/PySLib/.idea/.gitignore
/Lib/Python/PySLib/.idea/misc.xml
/Lib/Python/PySLib/.idea/modules.xml
/Lib/Python/PySLib/.idea/inspectionProfiles/profiles_settings.xml
/Lib/Python/PySLib/.idea/inspectionProfiles/Project_Default.xml
/Lib/Python/PySLib/.idea/vcs.xml

Studios/.DEPR_UNTRACKED_MEMORABLE_SOURCES

/Slab/bin/R2toR-sw-=1.000000-=0.000000-=1.000000-=0.000000-=0.000000-N=1024.oscb
/Slab/bin/RtoR--E=1.000000-n=100-N=1024.oscb
/Slab/bin/RtoR--v=0.000000-V=0.000000-alpha=0.000000-asym=False-N=1024.oscb
Build/
cmake-build-debug-no-gpu/
cmake-build-release-no-gpu/

.zed
