# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Docs
Lib/Docs/*

Studios/.DEPR_UNTRACKED_MEMORABLE_SOURCES
BUILD
venv
./Build/
Build/
Lib/Docs/

*__pycache__*

*~

/Notebooks/.Entidades.autosave.xopp
/Lib/Python/PySLib/.idea/.gitignore
/Studios/Fields/PyFields2D/.idea/.gitignore
/Notebooks/.Ultrasimple-dispenser.autosave.xopp
/Notebooks/2021-11-04-Template-21-56.xopt
/Studios/Fields/PyFields2D/.idea/codeStyles/codeStyleConfig.xml
/Slab/bin/Fields-RtoR
/Slab/bin/Fields-RtoR-PeriodicBC
/Lib/Python/PySLib/.idea/misc.xml
/Studios/Fields/PyFields2D/.idea/misc.xml
/Lib/Python/PySLib/.idea/modules.xml
/Studios/Fields/PyFields2D/.idea/modules.xml
/Lib/Python/PySLib/.idea/inspectionProfiles/profiles_settings.xml
/Studios/Fields/PyFields2D/.idea/inspectionProfiles/profiles_settings.xml
/Lib/Python/PySLib/.idea/inspectionProfiles/Project_Default.xml
/Studios/Fields/PyFields2D/.idea/inspectionProfiles/Project_Default.xml
/Slab/bin/R2toR-sw-=1.000000-=0.000000-=1.000000-=0.000000-=0.000000-N=1024.oscb
/Slab/bin/RtoR--E=1.000000-n=100-N=1024.oscb
/Slab/bin/RtoR--v=0.000000-V=0.000000-alpha=0.000000-asym=False-N=1024.oscb
/Notebooks/.ipynb_checkpoints/Untitled-checkpoint.ipynb
/Lib/Python/PySLib/.idea/vcs.xml
/Studios/Fields/PyFields2D/.idea/vcs.xml
