[Desktop Entry]
Version=1.0
Type=Link
Name=python - How can I randomly place several non-colliding rects? - Stack Overflow
Comment=
Icon=poi-place-of-worship
URL=https://stackoverflow.com/questions/4373741/how-can-i-randomly-place-several-non-colliding-rects
