[Desktop Entry]
Version=1.0
Type=Link
Name=algorithm - How to calculate the entropy of a file? - Stack Overflow
Comment=
Icon=format-justify-fill
URL=https://stackoverflow.com/questions/990477/how-to-calculate-the-entropy-of-a-file
