[Desktop Entry]
Version=1.0
Type=Link
Name=Scanning data for entropy anomalies | Ero Carrera's blog
Comment=
Icon=user-bookmarks
URL=http://blog.dkbza.org/2007/05/scanning-data-for-entropy-anomalies.html
